<!-- Generated template for the MessageAbstract component -->
<div *ngIf="!imgRetrieved" class="neo-content">
  <div>
    <message-inner-text [text]="message.msgBody"></message-inner-text>
    <br/>
    <button ion-button icon-only (click)="getImage()">
      <ion-icon name="camera"></ion-icon>
    </button>
  </div>
</div>

<div *ngIf="imgRetrieved" class="neo-content">
  <p>Esta es la foto que acaba de hacer: </p>
  <br/>
  <img [src]="base64ImageString | domseguro:'data:image/jpeg;base64,'" class="responsive">
  <hr/>

  <button *ngIf="loading" ion-button icon-only padding disabled>Analizando DNI
    <ion-spinner name="bubbles" color="white"></ion-spinner>
  </button>
  <div *ngIf="dniRetrieved && !isAllDone">
    <div *ngIf="!errorRetrieveDniData" class="neo-info">
      <p text-center>Esta es la información que he reconocido: </p>
      <p text-center>Nombre: {{this.nombre}}</p>
      <p text-center>Apellidos: {{this.apellidos}}</p>
      <p text-center>DNI: {{this.dni}}</p>
      <p text-center>¿Es correcto?</p>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button (click)="saveImage()">
              Sí
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left (click)="getImage()">
              No, repetir
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="errorRetrieveDniData" class="neo-info">
        <p text-center>No ha sido posible obtener informacion de la imagen</p>
        <p text-center>¿Puede volver a sacar la foto?</p>
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button icon-left (click)="getImage()">
                Repetir
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>
  </div>
</div>
