page-formulario {
    ion-label {
        color: #0070c0;
    }
    ion-input {
        color: rgb(115, 119, 126);
    }
    ion-card-header {
        background-color: map-get($colors, secondary);
    }

    .a {
         background-color: map-get($colors, primary);
    }
    .b {
      background-color: map-get($colors, danger);
    }

    .audio-item{

      background-color: aliceblue;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

    }

  .video-item{
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    img {
      margin-bottom: 5px;
      display: inline-block;
    }
  }

}
